<!--suppress HtmlUnknownTarget -->
<nav class="navbar navbar-expand-lg navbar-dark bg-warm-black">
    <a class="navbar-brand" href="#">BJUTLab</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#headerCollapse" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="headerCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="index" class="nav-link" href="index.html">主页</a>
            </li>
            <li class="nav-item">
                <a id="preorder" class="nav-link" href="preorder.html">预约规则</a>
            </li>
            <li class="nav-item">
                <a id="inform" class="nav-link" href="inform.html">通知公告</a>
            </li>
            <li class="nav-item">
                <a id="me" class="nav-link" href="me.html">个人中心</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-1">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索"
                   aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="login.html">退出登录</a>
            </li>
        </ul>
    </div>
</nav>